.content {
  padding-top: 72px;

  .separator {
    border: none;
    margin: 1.5rem auto;
    height: 0.2rem;
    max-width: 3.25rem;
  }

  .header, .get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;

    .description {
      text-align: center;
      width: 45rem;

      .title {
        font-weight: 500;
        font-size: 2.5rem;
      }

      .description {
        color: #ffffffbf;
        margin-bottom: 3rem;
        font-size: 1.15rem;
      }

      .invite {
        cursor: pointer;
        user-select: none;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #efaa66;
        color: #fff;
        box-sizing: border-box;
        padding: 1.25rem 2.25rem;
        border-radius: 18px;
        font-weight: 700;
        font-size: 0.85rem;
        transition: 0.3s;

        &:hover { background-color: #ebb784; }
      }
    }
  }

  .header {
    padding: 0 3rem;
    height: 61.5vh;

    .description {
      .separator { background-color: #efaa66; }
    }
  }

  .get-started {
    background-color: #2a2c30;
    padding: 8rem 0;

    .description { 
      .separator { background-color: #fff; }
    }
  }

  .features-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #36393f;
    box-sizing: border-box;
    padding: 8rem 3rem;
    width: 100%;

    .description {
      .title {
        font-weight: 500;
        font-size: 2.5rem;
      }

      .separator { background-color: #efaa66; }

      .features {
        display: flex;
        flex-wrap: wrap;

        .feature {
          text-align: center;
          box-sizing: border-box;
          padding: 0 20px;
          width: 25%;

          .bi {
            fill: #efaa66;
            height: 2.5rem;
            width: 2.5rem;
          }

          .feature-title {
            font-weight: 500;
            font-size: 1.5rem;
          }

          .feature-description { color: #6c757d; }
        }
      }
    }
  }
}